@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

/* ------Custome Colours----- */

body {
  margin           : 0;
  padding          : 0;
  box-sizing       : border-box;
  background-image : url(./Images/bg.jpg);
  background-repeat: no-repeat;

}

:root {
  --bgcolor        : #ffffff;
  --primary-color  : #ff2929;
  --wh-text-color  : #ffffff;
  --text-color     : #828286;
  --main-text-color: #333333;
  --highlight-color: #ffb700;
  --bl-bgcolor     : #000000;
  --ps-bgcolor     : #f1e8cd;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color          : #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* ------------------------------------------------------------ Navbar Css Style Starts ------------------------------------------------------------ */


.navbar-bg {
  background-color: transparent;
  padding         : 2rem 0;
  z-index         : 99;
  position        : relative;

}

.navbar {
  position: relative !important;
}

.navbar-brand {
  font-size: 2.5rem;
}

.navbar li {
  padding    : 0 2rem;
  font-family: sofia;
}

.navbar li a {
  font-size  : 2rem;
  font-weight: lighter;
  color      : var(--wh-text-color) !important;
  text-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.5);
}

.navbar li a:hover {
  color      : var(--ps-bgcolor) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}



.logo {
  border-radius: 90rem;
  width        : 8%;
  height       : 25%;
  margin-top   : 0rem;


}

/* ------------------------------------------------------------  Navbar ends ------------------------------------------------------------ */
/* ------------------------------------------------------------  Header Start ------------------------------------------------------------ */


header {
  min-height      : 100vh;
  width           : 100%;
  background-color: transparent;
}

.aboutus-container {
  height          : 80vh;
  display         : flex;
  background-color: transparent;
}

.aboutus-container h1 {
  text-transform: capitalize;
  font-weight   : bold;
  color         : var(--wh-text-color);
  text-shadow   : 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
  font-family   : sofia;
}

.aboutus-para {
  font-size  : 1.3rem;
  font-family: SFProDisplay;
  color      : var(--wh-text-color);
  margin     : 3rem 0 5rem 0;
  font-weight: lighter;
  width      : 75%;
}

.aboutus-container h3 {
  font-weight   : regular;
  font-size     : 0.9rem;
  font-family   : Mont;
  letter-spacing: 0.5rem;
  color         : var(--wh-text-color);


}
.aboutbg {
  width        : 30%;
  height       : 100%;
  box-shadow   : rgba(0, 0, 0, 0.25)0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}

.highlight {
  color: var(--highlight-color);
}


/* ------------------------------------------------------------  Header ends ------------------------------------------------------------ */
/* ------------------------------------------------------------  menu section start ------------------------------------------------------------ */
.menu-section {
  width  : 100%;
  padding: 0%;
}

.menu-container {
  width           : 100%;
  padding         : 5rem;
  box-shadow      : 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
  margin-top      : -10rem;
  background-color: var(--bgcolor);

}

.menu-container ul {
  list-style: none;
  position  : relative;
}

.menu-container .main-heading {
  font-size    : 3.5rem;
  font-weight  : bold;
  margin-bottom: 4rem;
  word-spacing : 1rem;
  font-family  : sofia;


}

.menu-container-subdiv {
  padding: 0 6rem;
}

.menu-container .sub-heading {
  font-size   : 2.6rem;
  font-weight : bolder;
  font-family : sofia;
  margin-top  : 5rem;
  word-spacing: 1rem;
  color       : var(--primary-color);
  display     : grid;
  place-items : center;
  text-shadow : 0 0.4rem 0.5rem rgba(255, 147, 147, 0.745);
}


.our-services-number {
  width           : 3rem;
  height          : 3rem;
  border-radius   : 50%;
  background-color: transparent;
  border          : 0.1rem solid var(--primary-color);
  font-size       : 1.5rem;
  font-weight     : bolder;
  color           : var(--primary-color);
  display         : inline-block;
  place-items     : center;
  margin-top      : 2rem;
}

.mainbg {
  width        : 60%;
  height       : 100%;
  box-shadow   : rgba(0, 0, 0, 0.25)0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}
.mainbg:hover{
  color: #828286;
  opacity: 50%;
}

/* ------------------------------------------------------------  menu section ends ------------------------------------------------------------ */
/* ------------------------------------------------------------  test section start ------------------------------------------------------------ */
.test-container {
  width           : 100vw;
  height          : 30vw;
  padding         : 7rem;
  box-shadow      : 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
  margin-top      : 0rem;
  background-color: var(--ps-bgcolor);

}

.test-container .main-heading {
  font-size    : 3.5rem;
  font-weight  : bold;
  margin-bottom: 4rem;
  word-spacing : 1rem;
  font-family  : sofia;

}

.test-container-subdiv {
  padding: 0 6rem;
}

.test-container .sub-heading {
  font-size  : 2rem;
  font-weight: normal;
}

.fontawesome-style {
  font-size       : 2.3rem;
  color           : var(--primary-color);
  width           : 6rem;
  height          : 6rem;
  border-radius   : 50%;
  background-color: var(--bgcolor);
  display         : grid;
  place-items     : center;
  text-align      : center;
  margin          : 2rem auto;
}

/* ------------------------------------------------------------  test section ends ------------------------------------------------------------ */
/* ------------------------------------------------------------  Gallery section start ------------------------------------------------------------ */
.Gallery-container {
  width           : 100vw;
  height          : 30vw;
  padding         : 10rem;
  box-shadow      : 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
  margin-top      : 0rem;
  background-color: var(--bgcolor);
  position        : relative !important;


}

.Gallery-container .main-heading {
  font-size    : 3.5rem;
  font-weight  : bold;
  margin-bottom: 4rem;
  word-spacing : 1rem;
  font-family  : sofia;

}

.Gallery-container-subdiv {
  padding: 0 6rem;
}

.Gallery-container .sub-heading {
  font-size  : 2rem;
  font-weight: normal;
}

.gallery {
  margin-bottom        : 20px;
  margin-top           : -5px;
  display              : grid;
  grid-template-columns: lfr lfr lfr;
  grid-gap             : 20px;
}

.gallary_g {
  overflow: hidden;
  height  : 0;
  padding : 50%;
  position: relative !important;
  opacity : 0.8;
}

.gallary_g img {
  min-width : 20%;
  min-height: 20%;
  max-width : 20%;
  position  : absolute;
  top       : 0;
  left      : 0;
  width     : 20%;
}

/* ------------------------------------------------------------  Gallery section ends ------------------------------------------------------------ */
/* --------------------------------- Contact US Section starts  
                        -------------------------------------------------------*/
.contactus-section {
  width  : 100vw;
  height : 30vw;
  padding: 10rem;

  background-image : url(../src/Images/pizza1.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  /* background: rgba(255, 221, 98, 0.5) */
  /* background-color: #ffde8b; */
}

.contactus-section .main-heading {
  font-size    : 3.5rem;
  font-weight  : bold;
  margin-bottom: 4rem;
  word-spacing : 1rem;
  font-family  : sofia;
  color: rgba(151, 255, 15, 0.941);
  text-shadow : 0 0.4rem 0.5rem rgba(0, 0, 0, 0.745);
}
.contact-leftside img {
  min-width : 80%;
  max-height: 30rem;
  height    : auto;
}

.contact-input-feild {
  margin-bottom: 2rem;
}
.contact-input-feild input{
  border            : 1px solid #ced4da;
  background-color: rgba(255, 255, 255, 0.785);
}


.contact-rightside form .form-control {
  border            : 1px solid #ced4da;
  background-color: rgba(255, 255, 255, 0.785);
  -webkit-appearance: none;
  height            : 2.5rem;
  border-radius     : 0.5rem;
  font-size         : 1.6rem;
  padding-left      : 1rem;
  font-weight       : lighter;
}

.contact-rightside form .form-check-input {
  width : 2rem;
  height: 2rem;
}

.form-checkbox-style {
  margin: 4rem 0;
}

.contact-rightside form .main-hero-para {
  font-size  : 1.5rem;
  color      : var(--wh-text-color);
  margin     : 0;
  font-weight: normal;
  width      : 75%;
  padding    : 0 2rem;
  text-shadow : 0 0.4rem 0.5rem rgba(0, 0, 0, 0.745);
}
.btn-style {
  width           : 6rem;
  height          : 3rem;
  border-radius   : 2rem;
  color           : #fff;
  background-color: var(--primary-color);
  text-transform  : capitalize;
}

.btn-style:first-child {
  margin-right: 2rem;
}

.btn-style:hover {
  border          : 0.1rem solid var(--primary-color);
  background-color: transparent;
  color           : var(--primary-color);
  box-shadow      : 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border {
  border          : 0.1rem solid var(--primary-color);
  background-color: transparent;
  color           : var(--primary-color);
  box-shadow      : 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border:hover {
  color           : #fff;
  background-color: var(--primary-color);
  text-transform  : capitalize;
}
.contacticon {
  width        : 40%;
  height       : 50%;
  box-shadow   : rgba(0, 0, 0, 0.25)0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}
.contactimg{
 
  box-shadow   : rgba(0, 0, 0, 0.25)0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}

/* --------------------------------- Contact US Section ends  
                                                -------------------------------------------------------*/
                                                